//Common color
$color-green: #00a759;
$color-red: #d0021b;
$color-blue: #108ee9;
$color-blue-hover: #e2f6ff;
$color-dark-blue: #0082d0;
$color-white: #ffffff;
$transparent-0: rgba(0, 0, 0, 0);
$transparent-black-2: rgba(0, 0, 0, .2);
$transparent-black-5: rgba(0, 0, 0, .5);

//Font color
$font-color-white: #ffffff;
$font-color-gray: #999999;
$font-color-black: #333333;

//Background color
$background-color-white: #FFFFFF;
$background-color-gray: #f7f7f7;
$background-color-dark-gray: #999999;
$background-color-dark: #333333;

//Line color
$line-color-white: #ffffff;
$line-color-gray: #dddddd;

//Font size
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 20px;

//Icon size
$icon-size-1: 14px;
$icon-size-2: 16px;
$icon-size-3: 18px;
$icon-size-4: 20px;
$icon-size-5: 22px;
$icon-size-6: 24px;

//Margin & padding
$margin-padding-1: 5px;
$margin-padding-2: 10px;
$margin-padding-3: 15px;
$margin-padding-4: 20px;
$margin-padding-5: 25px;
$margin-padding-6: 30px;

//Border radius
$border-radius-1: 3px;
$border-radius-2: 5px;
$border-radius-3: 10px;
$border-radius-4: 15px;

//Line height
$line-height-1: 15px;

//main
$admin-main-width: 1002px;

//zIndex
$cascaderMaskzIndex: 5000;