@import "./constant.scss";
@import "./common.scss";
@import "./editor-constant.scss";

.editor-container {
  h1, h2, h3, h4, h5, h6, p, li, a, li, pre, code {
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
  }

  p, li, a, li {
    font-size: 14px;
  }

  blockquote {
    font-size: $font-size-1;
    border-left: $color-blue 3px solid;
    padding: $margin-padding-1 $margin-padding-2;
    margin: $margin-padding-1 0;
    color: $font-color-gray;
  }

  ul, ol {
    padding-left: $margin-padding-6;
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  a {
    color: $color-blue;
  }

  pre {
    background: $background-color-gray;
    border-radius: $border-radius-2;
    padding: $margin-padding-2;
  }

  img {
    max-width: 100%;
  }
}